---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matias Lago Evia — Color Palette">
  <main>
    <h1>Color Palette</h1>
    <p class="font-bold">These are the colors that I'll use across the site.</p>
    <div class="flex gap-1">
			<div class="w-20 border-2 border-black aspect-square bg-turquoise-blue"></div>
			<div class="w-20 border-2 border-black aspect-square bg-hot-pink"></div>
			<div class="w-20 border-2 border-black aspect-square bg-lavender"></div>
			<div class="w-20 border-2 border-black aspect-square bg-mint-green"></div>
			<div class="w-20 border-2 border-black aspect-square bg-coral-orange"></div>
			<div class="w-20 border-2 border-black aspect-square bg-electric-yellow"></div>
			<div class="w-20 border-2 border-black aspect-square bg-light-gray"></div>
			<div class="w-20 border-2 border-black aspect-square bg-white"></div>
		</div>
  </main>
</Layout>