---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matias Lago Evia's site">
  <main>
    <h1>Welcome!</h1>
    <p class="font-bold">This is some example content to be filled.</p>
		<a href="/colors">Color Palette</a>
  </main>
</Layout>