---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matias Lago Evia's site">
  <main>
    <h1>Welcome!</h1>
    <p>This is some example content to be filled.</p>
  </main>
</Layout>
