---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matias Lago Evia's site">
  <main class="container text-center">
    <div class="intro mb-10">
      <h1 class="text-2xl font-bold">
        I'm <a
          href="https://www.linkedin.com/in/matias-engineer/"
          class="text-turquoise-blue underline">Matias Lago Evia</a
        >, nice to meet you! 👋
      </h1>
      <h2 class="text-xl">
        I'm a professional software developer based in Manhattan.
      </h2>
    </div>
    <div class="career mb-5">
      <h2 class="text-xl">My career (summarized) so far...</h2>
      <p>I am grateful to work doing what I love for a living!</p>
      <ul class="list-disc list-inside mt-3">
        <li>
          At <a href="https://amazon.com" class="text-coral-orange">Amazon</a>,
          I specialized in FC associates' authentication and authorization use
          cases.
        </li>
        <li>
          At <a href="https://solosegment.com" class="text-coral-orange"
            >SoloSegment</a
          >, I led the revamp and documentation effort for the data pipeline.
        </li>
        <li>
          At <a href="https://blakfx.com" class="text-coral-orange">BlakFX</a>,
          I helped to develop the Helix cryptographic library and associated
          components.
        </li>
        <li>
          At <a href="https://honors.njit.edu/" class="text-hot-pink"
            >NJIT's ADHC</a
          >, I received my B.S. in Computer Science.
        </li>
        <li>
          At <a href="https://www.ccm.edu/" class="text-hot-pink">CCM</a>, I
          received my A.S. in Mathematics and my A.A.S. in Game Development.
        </li>
      </ul>
    </div>
    <div class="extra mb-5">
      <h2 class="text-xl">Before you go...</h2>
      <p>You may want to consider some of these!</p>
      <ul class="list-disc list-inside mt-3">
        <li>
          You can code with me on <a
            href="https://github.com/matiaslagoevia"
            class="text-lavender"
            >Github
          </a>
        </li>
        <li>
          You can practice with me on <a
            href="https://leetcode.com/shrampoo/"
            class="text-lavender"
            >Leetcode
          </a>
        </li>
        <li>
          You can grow with me on <a
            href="https://www.frontendmentor.io/profile/matiaslagoevia"
            class="text-lavender"
            >Frontend Mentor
          </a>
        </li>
      </ul>
    </div>
  </main>
</Layout>
<style>
  a {
    font-weight: 900;
  }
</style>
