---
interface Props {
  names: SkillName[];
}
const { names } = Astro.props;

import { SkillName, getBadgeLink } from "../data/skills";
---

<div class="flex flex-wrap gap-2">
  {
    names.map((n) => (
      <div class="img-wrap" data-alt={n}>
        <img src={getBadgeLink(n)} alt={n} />
      </div>
    ))
  }
</div>
<style>
  @media print {
    img {
      display: none;
    }

    .img-wrap::after {
      content: attr(data-alt);
    }
  }
</style>
