---
interface Props {
  cv?: string;
  skills: string[];
}

const { cv, skills } = Astro.props;

import "../reset.css";
import "../style.css";

import Skills from "../components/Skills.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Resume {cv}</title>
  </head>
  <body class="bg-gray-800 text-white flex flex-col items-center">
    <main class="w-10/12 my-2 mx-auto flex flex-col items-center grow">
      <div class="summary grid grid-cols-2 gap-x-4">
        <p class="text-end">Matias Lago Evia</p>
        <p>New York, NY</p>
        <a href="mailto:matiaslagoevia@gmail.com">matiaslagoevia@gmail.com</a>
        <a
          href="https://matiaslagoevia.com"
          target="_blank"
          rel="noopener noreferrer">matiaslagoevia.com</a
        >
      </div>
      <div class="mt-4">
        <h2 class="font-bold text-lg text-center mb-2">Technical Skills</h2>
        <Skills names={skills} />
      </div>
      <!-- TODO: be able to pick projects and work experience the same way? -->
      <!-- have them be list items that can be clicked, and on hover show the related tech -->
      <div class="mt-4">
        <h2 class="font-bold text-lg text-center mb-2">Academic Experience</h2>
        <ul class="text-center">
          <li>
            B.S. in Computer Science, Albert Dorman Honors College: NJIT, GPA:
            3.723
          </li>
          <li>
            A.S in Mathematics & A.A.S. in Game Development, Honors Society:
            CCM, GPA: 3.810
          </li>
          <li>Mathematics & Computer Science Tutor, NJIT & CCM</li>
        </ul>
      </div>
    </main>
    <footer>
      <p>
        Generated from <a href={`https://matiaslagoevia.com/cv`}
          >https://matiaslagoevia.com/cv</a
        >
      </p>
    </footer>
  </body>
  <style>
    @media print {
      @page {
        size: auto;
        margin: 0;
      }
    }

    @media (max-width: 600px) {
      .summary {
        grid-template-columns: repeat(1, minmax(0, 1fr));

        p,
        a {
          text-align: center;
        }
      }
    }

    a {
      text-decoration: underline;
    }
  </style>
</html>
